nav{
    width: 100%;
    height: var(--navbar-height);
    color: white;
    background-color: var(--primary-color);
    padding-inline: 25px;
    display: grid !important;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
    align-items: center;

    div{
        display: flex;
        height: 100%;
    }
}

.logo{
    color: white;
    font-size: 2rem;

    &:hover{
        color: white;
    }
}

.nav-button{
    --nav-button-padding: 1rem;
    padding-inline: var(--nav-button-padding);
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover{
        color: white;
        --border-width-nav-buttons: 1px;
        --border-setting-nav-buttons: var(--border-width-nav-buttons) solid white;
        border-left: var(--border-setting-nav-buttons);
        border-right: var(--border-setting-nav-buttons);
        padding-inline: calc(var(--nav-button-padding) - var(--border-width-nav-buttons));
        scale: 1.1;
        transition: scale ease-in-out 150ms;
    }
}

.search-area{
    width: 250px !important;
    height: auto;
    display: inline-block !important;
}
