*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --navbar-height: 4rem;
  --primary-color: #01579b;
}

.full-height{
  min-height: calc(100vh - var(--navbar-height));
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right{
  display: flex;
  justify-content: flex-end;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// .loading-container {
//   transition: opacity 0.5s ease;
//   opacity: 1;
// }

// .loading-container.fade-out {
//   transition: opacity 0.5s ease;
//   opacity: 0;
// }