.auth-form{
    padding: 2rem;
    background-color: var(--primary-color);
    color: white;
    width: min( 100%, 500px);
    display: grid;

    input[type='submit']{
        color: white;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        padding: .75rem 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        justify-self: center;

        &:disabled{
            --auth-disabled-color: rgba(255, 255, 255, 0.5);
            border-color: var(--auth-disabled-color);
            color: var(--auth-disabled-color);
            background-color: rgba(0, 0, 0, 0.15);
        }

        &:hover:enabled{
            scale: 1.05;
        }
    }
}

.auth-group{
    position: relative;

    label{
        font-size: 1.2rem;
    }

    input{
        width: 100%;
        border: none;
        outline: none;
        padding: .3rem .5rem;
        border-radius: 3px;
    }
}

.auth-group:nth-child(n+1){
    margin-top: 1.5rem;
}

.auth-links-container,
.sign-in-group{
    margin-top: .75rem;
}

.auth-links-container{
    display: flex;
    justify-content: space-between;
}

.auth-link{
    color: white;

    &:hover{
        color: white;
        text-decoration: underline;
    }
}

.optional{
    color: rgba(255, 255, 255, 0.6);
    font-size: .9rem;
    line-height: 2px;
}